.col-2 {
  width: 13.3333333%;
}

.col-3 {
  width: 20%;
}

.col-4 {
  width: 26.6666667%;
}

.col-5 {
  width: 33.3333333%;
}

.col-7 {
  width: 46.6666667%;
}

.col-9 {
  width: 60%;
}

.col-10 {
  width: 66.6666667%;
}

@media (max-width: 320px) {
  .site-header .menu-sort .arrow {
    left: 8px;
  }
}
@media (max-width: 425px) {
  #search-container_input {
    width: 17em;
  }
  .slider_button {
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    border: 2px solid white;
    margin-top: 15px;
  }
  .main_slider_text {
    width: 90% !important;
    font-size: 18px !important;
  }
  .slider [class*=pic_owl_] {
    height: 182px;
    padding: 15px 0 0 20px;
  }
  .slider .slider_sm_pic {
    flex-direction: column !important;
    height: 394px !important;
    flex-wrap: nowrap !important;
  }
  .pic_sm_pic_1,
  .pic_sm_pic_2 {
    height: 100%;
    width: 100% !important;
  }
  .sm_slider_text_top p {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .menu-sort a {
    display: none;
  }
  .submenu-sort {
    right: 40px !important;
    top: 6px;
  }
  #search-container_input {
    width: 20em;
  }
  #dropdown_hide {
    display: block !important;
  }
}
@media (max-width: 768px) {
  header {
    height: 110px;
  }
  .info_news {
    flex-wrap: wrap;
  }
  .info_news .col-5 {
    width: 100%;
  }
  .info_news .info_block_photo {
    min-height: 247px;
  }
  .search-container {
    top: 5px;
  }
  .user-office {
    margin-top: 30px;
    margin-right: 10px;
    display: none;
  }
  .user-office_img_big {
    display: block;
  }
  .top_menu_visible {
    display: none;
  }
  .topbar__nav {
    height: 50px !important;
  }
  .topbar__phones {
    width: 100%;
    display: inline-flex;
    text-align: end;
    justify-content: flex-end;
  }
}
@media (min-width: 1160px) {
  .burger-menu {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 140px;
  }
  .info_news {
    flex-wrap: wrap;
  }
  .info_news .col-5 {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .slider {
    display: flex;
    gap: 1px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .slider .col-10 {
    width: 100%;
  }
  .slider .col-5 {
    width: 100%;
  }
  .slider .slider_sm_pic {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 220px;
    flex-wrap: wrap;
  }
  .slider .pic_sm_pic_1,
  .slider .pic_sm_pic_2 {
    height: 100%;
    width: calc(50% - 0.5px);
  }
  .slider .sm_slider_text_button span {
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
  }
  .slider .sm_slider_button_top,
  .slider .sm_slider_button_button {
    position: relative;
  }
}
@media (max-width: 1410px) {
  section,
  main,
  article,
  footer {
    padding: 0 15px;
  }
}
@media (min-width: 1301px) and (max-width: 1401px) {
  .site-nav a {
    padding: 0 35px;
  }
}
@media (min-width: 1160px) and (max-width: 1300px) {
  .site-nav a {
    padding: 0 27px;
  }
}
@media (max-width: 1160px) {
  nav {
    position: sticky;
    top: 0;
  }
  .site-nav {
    display: none;
  }
  .menu-btn {
    display: inline-block;
  }
  .search-container {
    display: flex;
    margin-right: 0px;
    flex-wrap: nowrap;
    right: 10px;
    top: 4px;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    z-index: 40;
  }
  #search-container_input {
    width: 330px;
  }
  #search-button_submit {
    top: -45px;
    right: 5px !important;
  }
}
@media (max-width: 1200px) {
  .topbar__nav {
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    height: 80px;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
  }
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 15px;
    align-content: flex-start;
    margin-top: -25px;
  }
  .site_footer .col-3 {
    width: 25%;
  }
  .site_footer .site_footer_logo {
    display: none;
  }
}
@media (max-width: 900px) {
  .site_footer {
    flex-wrap: wrap;
  }
  .site_footer .col-3 {
    width: 35%;
  }
  .site_footer .site_footer_shedule {
    order: 3;
  }
}
@media (max-width: 500px) {
  .site_footer .col-3 {
    width: 100%;
  }
  .site_footer .site_footer_nav {
    gap: 20px;
    margin-left: 40px;
  }
  .site_footer .site_footer_social {
    order: 3;
    display: flex;
    flex-direction: column;
  }
  .site_footer .site_footer_social .footer_mail_button {
    order: 2;
    margin-top: 30px;
  }
  .site_footer .site_footer_social p {
    padding: 15px 0 20px 40px;
  }
  .site_footer .site_footer_social .social_icons {
    padding-left: 30px;
  }
}
@media (min-width: 1161px) and (max-width: 1200px) {
  .search-container {
    top: -60px;
  }
}
@media (max-width: 1400px) {
  .site-nav {
    padding: 0 15px;
  }
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  .topbar__nav {
    padding: 15px;
  }
}
@media (max-width: 375px) {
  .logo {
    background-size: contain;
    height: 55px;
    min-width: 160px;
  }
  .header-icons {
    min-width: 100px;
    gap: 5px;
  }
  #search-container_input {
    width: 12em;
  }
}
@media (max-width: 425px) {
  .topbar__phones {
    width: 100%;
    display: inline-flex;
    text-align: end;
    justify-content: space-around;
  }
  .topbar__phones a {
    font-size: small;
    margin-left: 10px;
  }
}
@media (max-width: 470px) {
  #search-container_input {
    width: 16em;
  }
}
@media (max-width: 400px) {
  #search-container_input {
    width: 15em;
  }
}
@media (max-width: 360px) {
  #search-container_input {
    width: 12em;
  }
}/*# sourceMappingURL=media.css.map */