* {
  box-sizing: border-box;
}
body a {
  font-family: "PT Sans";
}
.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
header {
  background-color: black;
  height: 140px;
  min-width: 100rem;
}
.topbar__nav {
  display: flex;
  border-bottom: 1px solid #2e2e2f;
  height: 40px;
  color: white;
  align-items: center;
}
.top_menu {
  display: flex;
  margin-left: -25px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    margin-left: 25px;
  }
}
.topbar__phones {
  padding-left: 30px;
  font-size: 16px;
  background: url(../img/phone-ico.svg) left center no-repeat;
  a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
  }
}
.user-office {
  background: url(../img/user-ico.svg) left center no-repeat;
  padding-left: 25px;
  a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
  }
}
.logo {
  background: url(../img/logo.png) left center no-repeat;
  height: 60px;
  width: 200px;
  margin-top: 20px;
}
