@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=PT+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body a {
  font-family: "PT Sans";
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

header {
  background-color: black;
  height: 140px;
  min-width: 100rem;
}

.topbar__nav {
  display: flex;
  border-bottom: 1px solid #2e2e2f;
  height: 40px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.top_menu {
  display: flex;
  margin-left: -25px;
}
.top_menu a {
  text-decoration: none;
  color: white;
}
.top_menu li {
  margin-left: 25px;
}

.topbar__phones {
  padding-left: 30px;
  font-size: 16px;
  background: url(../img/phone-ico.svg) left center no-repeat;
}
.topbar__phones a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

.user-office {
  background: url(../img/user-ico.svg) left center no-repeat;
  padding-left: 30px;
  max-width: 181px;
}
.user-office a {
  text-decoration: none;
  color: white;
}

.logo {
  background: url(../img/logo.png) left center no-repeat;
  height: 60px;
  width: 200px;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  padding-top: 29px;
  justify-content: end;
}

.site-header {
  display: flex;
  justify-content: space-between;
}
.site-header .menu-sort {
  padding: 0 5px;
  font-size: 16px;
  border: none;
  background-color: #03727e;
  color: #90c1c6;
  height: 40px;
  z-index: 10;
  position: relative;
  display: block;
}
.site-header .menu-sort a {
  text-decoration: none;
  color: #90c1c6;
  padding: 10px;
  display: block;
  float: left;
}
.site-header .menu-sort .arrow {
  background-image: url(../img/down-arrow-white.png);
  position: relative;
  top: 3px;
  left: 3px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  display: inline-block;
  width: 35px;
  cursor: pointer;
}
.site-header .submenu-sort {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 5px;
  background-color: #03727e;
  color: #90c1c6;
  margin: auto -5px;
  min-width: 281px;
  box-shadow: 21px 21px 22px -9px rgba(34, 60, 80, 0.29);
  left: 639px;
  top: 109px;
}
.site-header .submenu-sort li {
  display: block;
}
.site-header .submenu-sort li a {
  color: #90c1c6;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
}
.site-header .menu-sort a:hover {
  color: orange;
}
.site-header .submenu-sort li a:hover {
  color: orange;
}
.site-header .show {
  display: block;
}
.site-header .select:focus {
  outline: none;
}
.site-header .input {
  display: flex;
  align-items: center;
}
.site-header .input input[type=text] {
  padding: 6px;
  font-size: 16px;
  border: none;
  background-color: #05535d;
  color: #bdcacc;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22em;
}
.site-header .input input[type=text]:focus-visible {
  outline: none;
}
.site-header .input button[type=submit] {
  height: 40px;
  width: 40px;
  border: none;
  background: url(../img/search-button_small.svg) center center no-repeat;
  background-color: #05535d;
}
.site-header .input button[type=submit]:hover {
  cursor: pointer;
}
.site-header .header-icons {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.site-header .header-fav {
  width: 32px;
  height: 33px;
  background: url(../img/fav-ico.svg) left center no-repeat;
}
.site-header .header-compare {
  width: 32px;
  height: 33px;
  background: url(../img/compare-ico.svg) left center no-repeat;
}
.site-header .header-cart {
  width: 32px;
  height: 33px;
  background: url(../img/cart-ico.svg) left center no-repeat;
}

nav {
  height: 55px;
  background-color: #29727e;
  border-bottom: 1px solid white;
  min-width: 100rem;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 54px;
}
.site-nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 54px;
  padding: 0 41px;
}
.site-nav li {
  list-style-type: none;
}
.site-nav a:hover,
.site-nav li:hover {
  background-color: #1b535d;
}
.site-nav a:hover .site-nav_submenu,
.site-nav li:hover .site-nav_submenu {
  display: block;
}
.site-nav .site-nav_submenu {
  display: none;
  position: absolute;
  width: auto;
  z-index: 10;
  top: 194px;
  left: 180px;
  background-color: #29727e;
  margin: 0 auto;
}

.slider {
  display: flex;
}

.slider {
  display: flex;
  height: auto;
}
.slider button .owl-prev,
.slider button .owl-next {
  display: block;
}
.slider [class*=pic_owl_] {
  height: 440px;
}
.slider .pic_owl_1 {
  background-color: #000;
  background-size: cover;
}
.slider .pic_owl_2 {
  background: url(../img/bugatti.jpeg) no-repeat;
  background-size: cover;
}
.slider .pic_owl_3 {
  background: url(../img/chevrolet.jpeg) no-repeat;
  background-size: cover;
}
.slider .owl-dots {
  position: absolute;
  right: 431px;
  top: 403px;
}
.slider .owl-nav {
  position: absolute;
  z-index: 10;
  right: 452px;
  top: 389px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
}
.slider .owl-theme .owl-dots .owl-dot.active span,
.slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #f3902d;
}
.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 28px;
  height: 28px;
  background-color: #fff !important;
  border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  font-family: "PT Sans", sans-serif;
}
.slider .owl-next span {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  bottom: 2px;
  left: 11px;
  font-size: 30px;
  position: absolute;
}
.slider .owl-prev span {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  bottom: 2px;
  left: 9px;
  font-size: 30px;
  position: absolute;
}
.slider .owl-prev span:hover,
.slider .owl-next span:hover {
  color: white;
}
.slider .slideshow .owl-next:before {
  transform: rotate(45deg);
}
.slider .slideshow .owl-prev:before,
.slider .slideshow .owl-next:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 15;
  left: 10px;
  top: 9px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(220deg);
}
.slider .owl-prev {
  left: -473px;
}
.slider .owl-next {
  right: -443px;
}
.slider .owl-next:hover,
.slider .owl-prev:hover {
  background-color: #f3902d !important;
}
.slider .item-video {
  height: 440px;
}
.slider .owl-video-play-icon {
  top: 200px !important;
}
.slider .owl-stage-outer {
  background-color: #000;
}
.slider .slider_sm_pic {
  display: flex;
  height: 440px;
  flex-wrap: wrap;
  flex-direction: column;
  border-left: 1px solid white;
}
.slider .pic_sm_pic_1 {
  background-image: url(../img/jaguar-f-type.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
}
.slider .pic_sm_pic_2 {
  background-image: url(../img/bugatti.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  border-top: 1px solid white;
}/*# sourceMappingURL=style.css.map */