* {
  box-sizing: border-box;
}

body a {
  font-family: "PT Sans";
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

header {
  background-color: black;
  height: 140px;
  min-width: 100rem;
}

.topbar__nav {
  display: flex;
  border-bottom: 1px solid #2e2e2f;
  height: 40px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.top_menu {
  display: flex;
  margin-left: -25px;
}
.top_menu a {
  text-decoration: none;
  color: white;
}
.top_menu li {
  margin-left: 25px;
}

.topbar__phones {
  padding-left: 30px;
  font-size: 16px;
  background: url(../img/phone-ico.svg) left center no-repeat;
}
.topbar__phones a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

.user-office {
  background: url(../img/user-ico.svg) left center no-repeat;
  padding-left: 25px;
  max-width: 181px;
}
.user-office a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

.logo {
  background: url(../img/logo.png) left center no-repeat;
  height: 60px;
  width: 200px;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: end;
}

.site-header {
  display: flex;
  justify-content: space-between;
}
.site-header .menu-sort {
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: #03727e;
  color: #90c1c6;
  height: 40px;
  z-index: 10;
}
.site-header .menu-sort a {
  text-decoration: none;
  color: #90c1c6;
  line-height: 30px;
}
.site-header .menu-sort .arrow {
  background-image: url(../img/down-arrow-white.png);
  position: relative;
  top: 1px;
  left: 3px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  display: inline-block;
  width: 25px;
}
.site-header .submenu-sort {
  display: none;
  padding: 5px;
  background-color: #03727e;
  color: #90c1c6;
  margin: auto -5px;
}
.site-header .menu-sort:hover .submenu-sort {
  display: block;
}
.site-header .select:focus {
  outline: none;
}
.site-header .input {
  display: flex;
  align-items: center;
}
.site-header .input input[type=text] {
  padding: 6px;
  font-size: 16px;
  border: none;
  background-color: #05535d;
  color: #bdcacc;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22em;
}
.site-header .input input[type=text]:focus-visible {
  outline: none;
}
.site-header .input button[type=submit] {
  height: 40px;
  width: 40px;
  border: none;
  background: url(../img/search-button_small.svg) center center no-repeat;
  background-color: #05535d;
}
.site-header .input button[type=submit]:hover {
  cursor: pointer;
}
.site-header .header-icons {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.site-header .header-fav {
  width: 32px;
  height: 33px;
  background: url(../img/fav-ico.svg) left center no-repeat;
}
.site-header .header-compare {
  width: 32px;
  height: 33px;
  background: url(../img/compare-ico.svg) left center no-repeat;
}
.site-header .header-cart {
  width: 32px;
  height: 33px;
  background: url(../img/cart-ico.svg) left center no-repeat;
}

nav {
  height: 55px;
  background-color: #29727e;
  border-bottom: 1px solid white;
  min-width: 100rem;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 55px;
}
.site-nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 55px;
  padding: 0 41px;
}
.site-nav li {
  list-style-type: none;
}
.site-nav a:hover,
.site-nav li:hover {
  background-color: #1b535d;
}
.site-nav a:hover .site-nav_submenu,
.site-nav li:hover .site-nav_submenu {
  display: block;
}
.site-nav .site-nav_submenu {
  display: none;
  position: absolute;
  width: auto;
  z-index: 10;
  top: 195px;
  left: 180px;
  background-color: #29727e;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */