@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #e7e7ea;
  min-width: 100rem;
}
body a {
  font-family: "PT Sans";
}
.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
header {
  background-color: black;
  height: 140px;
  min-width: 100rem;
}
.topbar__nav {
  display: flex;
  border-bottom: 1px solid #2e2e2f;
  height: 40px;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.topbar__nav a:hover {
  color: orange;
}
.top_menu {
  display: flex;
  margin-left: -25px;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    margin-left: 25px;
  }
}
.topbar__phones {
  padding-left: 30px;
  font-size: 16px;
  background: url(../img/phone-ico.svg) left center no-repeat;
  a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
  }
}
.user-office {
  background: url(../img/user-ico.svg) left center no-repeat;
  padding-left: 30px;
  max-width: 181px;
  a {
    text-decoration: none;
    color: white;
  }
}
.logo {
  background: url(../img/logo.png) left center no-repeat;
  height: 60px;
  width: 200px;
  margin-top: 20px;
}
// Search Form -------------------------------------------------------------------

.search-container {
  // display: flex;
  padding-top: 29px;
  // justify-content: end;
  // align-items: flex-start;
}

.site-header {
  display: flex;
  justify-content: space-between;
  .menu-sort {
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background-color: #03727e;
    color: #90c1c6;
    height: 40px;
    z-index: 10;
    position: relative;
    display: block;
    float: left;
    left: 163px;
    a {
      text-decoration: none;
      color: #90c1c6;
      padding: 10px;
      display: block;
      float: left;
    }
    .arrow {
      background-image: url(../img/down-arrow-white.png);
      position: relative;
      top: 3px;
      left: 3px;
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
      height: 35px;
      display: inline-block;
      width: 35px;
      cursor: pointer;
    }
    .arrow:hover .menu-sort a {
      color: #f3902d;
    }
  }
  .submenu-sort {
    display: none;
    position: relative;
    z-index: 10;
    padding: 5px;
    background-color: #03727e;
    color: #90c1c6;
    margin: auto -5px;
    max-width: 281px;
    -webkit-box-shadow: 21px 21px 22px -9px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 21px 21px 22px -9px rgba(34, 60, 80, 0.29);
    box-shadow: 21px 21px 22px -9px rgba(34, 60, 80, 0.29);
    left: 168px;
    top: -15px;
  }

  .submenu-sort li {
    display: block;
  }

  .submenu-sort li a {
    color: #90c1c6;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }

  .menu-sort:hover a {
    color: orange;
  }
  .submenu-sort li a:hover {
    color: orange;
  }

  .show {
    display: block;
  }

  .select:focus {
    outline: none;
  }
  .input {
    position: relative;
    top: -14px;
    left: 0px;
    text-align: end;
  }
  .input input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: none;
    background-color: #05535d;
    color: #bdcacc;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22em;
  }
  .input input[type="text"]:focus-visible {
    outline: none;
  }
  .input button[type="submit"] {
    height: 40px;
    width: 40px;
    border: none;
    background: url(../img/search-button_small.svg) center center no-repeat;
    background-color: #05535d;
    position: relative;
    top: 14px;
    left: -4px;
  }
  .input button[type="submit"]:hover {
    cursor: pointer;
  }
  .header-icons {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .header-fav {
    width: 32px;
    height: 33px;
    background: url(../img/fav-ico.svg) left center no-repeat;
  }
  .header-compare {
    width: 32px;
    height: 33px;
    background: url(../img/compare-ico.svg) left center no-repeat;
  }
  .header-cart {
    width: 32px;
    height: 33px;
    background: url(../img/cart-ico.svg) left center no-repeat;
  }
}

// Nav bar -----------------------------------------------------------------

nav {
  height: 55px;
  background-color: #29727e;
  border-bottom: 1px solid white;
  min-width: 100rem;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 54px;
  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 54px;
    padding: 0 41px;
  }
  li {
    list-style-type: none;
    white-space: nowrap;
  }
  a:hover,
  li:hover {
    background-color: #1b535d;
    position: relative;
    .site-nav_submenu {
      display: block;
    }
  }
  .site-nav_submenu {
    display: none;
    position: absolute;
    width: auto;
    z-index: 10;
    top: 54px;
    left: 0px;
    background-color: #29727e;
    margin: 0 auto;
  }
}

// Carousel -------------------------------------

.slider {
  display: flex;
  gap: 1px;
  button {
    .owl-prev,
    .owl-next {
      display: block;
    }
  }

  [class*="pic_owl_"] {
    height: 440px;
  }

  .pic_owl_1 {
    background: url(../img/bridgestone_img.png) no-repeat;
    background-size: cover;
  }

  .pic_owl_2 {
    background-color: #000;
    background-size: cover;
  }

  .pic_owl_3 {
    background: url(../img/chevrolet.jpeg) no-repeat;
    background-size: cover;
  }

  .owl-dots {
    position: absolute;
    right: 420px;
    top: 400px;
  }
  .owl-nav {
    position: absolute;
    z-index: 10;
    right: 452px;
    top: 389px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #f3902d;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 28px;
    height: 28px;
    background-color: #fff !important;
    border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    font-family: "PT Sans", sans-serif;
  }

  .owl-next span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    bottom: 2px;
    left: 11px;
    font-size: 30px;
    position: absolute;
  }
  .owl-prev span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    bottom: 2px;
    left: 9px;
    font-size: 30px;
    position: absolute;
  }

  .owl-prev span:hover,
  .owl-next span:hover {
    color: white;
  }

  .slideshow .owl-next:before {
    transform: rotate(45deg);
  }

  .slideshow .owl-prev:before,
  .slideshow .owl-next:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 15;
    left: 10px;
    top: 9px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(220deg);
  }

  .owl-prev {
    left: -471px;
  }

  .owl-next {
    right: -443px;
  }

  .owl-next:hover,
  .owl-prev:hover {
    background-color: #f3902d !important;
  }

  .item-video {
    height: 440px;
  }

  .owl-video-play-icon {
    top: 200px;
    position: absolute;
    z-index: 30;
  }

  .owl-stage-outer {
    background-color: #000;
  }
  .slider_sm_pic {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .pic_sm_pic_1 {
    background-image: url(../img/sm_banner_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
  }
  .pic_sm_pic_2 {
    background-image: url(../img/sm_banner_bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
  }
  .slider_button,
  .main_slider_text {
    position: absolute;
    z-index: 20;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  .main_slider_text {
    left: 30px;
    top: 41px;
    font-size: 38px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    line-height: 1.263;
    text-align: left;
    padding-right: 471px;
    span {
      font-weight: bolder;
    }
  }
  .main_slider_text:hover {
    color: orange;
  }

  .slider_button {
    width: 190px;
    height: 50px;
    left: 30px;
    top: 294px;
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 46px;
    text-align: center;
    border: 2px solid white;
  }
  .slider_button:hover {
    cursor: pointer;
    color: orange;
    border: 2px solid orange;
  }

  .sm_slider_text_top {
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: left;
    position: relative;
    width: 270px;
  }

  .sm_slider_button_top,
  .sm_slider_text_top,
  .sm_slider_button_button,
  .sm_slider_text_button {
    position: absolute;
    z-index: 20;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0 0 0 20px;
    p {
      font-size: 14px;
      font-family: "PT Sans";
      font-weight: 400;
    }
    p:hover {
      color: orange;
    }
    a:hover {
      color: orange;
    }
    span:hover {
      color: orange;
    }
  }

  .sm_slider_text_top {
    margin: 35px 0 40px 20px;
  }
  .sm_slider_button_top {
    margin: 165px 0 0 0px;
  }

  [class*="sm_slider_button_"] {
    p {
      padding-left: 55px;
      margin-top: 10px;
    }
    span {
      background-image: url(../img/arrow_right_black.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: white;
      padding: 0 8px;
      border: 1px solid black;
      border-radius: 25px;
      font-family: "DM Sans", sans-serif;
      font-size: 23px;
      display: inline-block;
      width: 23px;
      height: 23px;
      position: absolute;
      bottom: -5px;
      left: 20px;
    }
    span:hover ~ p {
      color: orange;
    }
    span:hover {
      background-color: orange;
      background-image: url(../img/arrow_right_white.png);
    }
    p:hover span {
      background-color: orange;
      background-image: url(../img/arrow_right_white.png);
    }
  }
  .sm_slider_button_top :hover,
  .sm_slider_text_top :hover,
  .sm_slider_button_button :hover,
  .sm_slider_text_button :hover {
    color: orange;
  }
  .pic_sm_pic_1:hover {
    color: orange;
  }
  .sm_slider_text_top:hover {
    color: orange;
  }
  .sm_slider_text_button {
    top: 455px;
    width: 250px;
  }
  .sm_slider_button_button {
    position: absolute;
    top: 580px;
    margin-left: 0px;
  }
}

// Catalog --------------------------------------------------------------
.catalog-section {
  .owl-dots {
    position: absolute;
    right: 96px;
    top: -65px;
  }
  .owl-nav {
    position: absolute;
    z-index: 10;
    right: 438px;
    top: -77px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #f3902d;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 28px;
    height: 28px;
    background-color: #29727e !important;
    border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    font-family: "PT Sans", sans-serif;
  }

  .owl-next span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    bottom: 2px;
    left: 11px;
    font-size: 30px;
    position: absolute;
  }
  .owl-prev span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    bottom: 2px;
    left: 9px;
    font-size: 30px;
    position: absolute;
  }

  .owl-prev span,
  .owl-next span {
    color: white;
  }

  .slideshow .owl-next:before {
    transform: rotate(45deg);
  }

  .slideshow .owl-prev:before,
  .slideshow .owl-next:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 15;
    left: 10px;
    top: 9px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(220deg);
  }

  .owl-prev {
    left: 369px;
  }

  .owl-next {
    right: -443px;
  }

  .owl-next:hover,
  .owl-prev:hover {
    background-color: #f3902d !important;
  }
}
.section-title {
  margin: 50px 0 40px 0;
  text-align: center;
  font-size: 28px;
  font-family: "PT Sans";
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  line-height: 1.071;
  text-align: center;
  span {
    font-weight: bold;
  }
}
.catalog-section_bottom {
  .section-title {
    margin: 45px 0 40px 0;
  }
}
.section-title_news {
  margin: 45px 0 55px 0;
}
.label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1px;
  position: absolute;
  top: 20px;
}
[class*="label_"] {
  z-index: 10;
}
.label_top,
.label_new,
.label_discount {
  position: relative;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
}
.label_top {
  background-color: #f3902d;
}

.label_new {
  background-color: #5597a0;
}

.label_discount {
  background-color: #ef482a;
}

.label_private {
  background: url(../img/privat_label.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.label_mono {
  background: url(../img/mono_label.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

[class*="label_season_"] {
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  right: 0;
  top: 10 px;
  margin: -35px 20px 0 0;
}
.label_season_hot {
  background: url(../img/summer-ico.png);
}
.label_season_cold {
  background: url(../img/cold.png);
}
.label_season_demi {
  background: url(../img/coldhot.png);
}

.catalog-item__photo {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 150px;
  margin: 35px auto 0 auto;
}

.product_info {
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.333;
  text-align: center;
  margin-top: 25px;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #f3902d;
  }
}
.product_info:hover {
  color: #f3902d;
}

.info-inner {
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(85, 85, 85);
  line-height: 2.143;
  text-align: center;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
}

.product-item {
  height: 512px;
  padding: 10px 20px 20px 20px;
  background-color: #fff;
  margin: 10px 0;
}
.product-item_1 {
  .catalog-item__photo {
    background: url(../img/products/GoodYear_Ultra_Grip.png);
  }
}
.product-item_2 {
  .catalog-item__photo {
    background-image: url(../img/products/oil_mobil_ultra.png);
  }
}
.product-item_3 {
  .catalog-item__photo {
    background-image: url(../img/products/bridgestone_blizzak.png);
  }
}
.product-item_4 {
  .catalog-item__photo {
    background-image: url(../img/products/goodyear_eagle_ultragrip_gw.png);
  }
}
.product-item_5 {
  .catalog-item__photo {
    background-image: url(../img/products/antifreez.png);
  }
}
.product-item_6 {
  .catalog-item__photo {
    background-image: url(../img/products/oil_mobil_ultra.png);
  }
}
.product-item:hover {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.37);
  -moz-box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.37);
  box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.37);
  cursor: pointer;
}
.reviews__stars {
  margin-left: 20px;
}
.star_icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-top: 6px;
}
.star_full {
  background: url(../img/star_full.png);
}
.star_half {
  background: url(../img/star_half.png);
}
.star_empty {
  background: url(../img/star_empty.png);
}
.product__reviews {
  text-align: center;
  position: relative;
  a {
    text-decoration: none;
    font-size: 14px;
    font-family: "PT Sans";
    color: rgb(85, 85, 85);
    line-height: 2.143;
    text-align: center;
    -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  }
  span:hover {
    color: #f3902d;
  }
}

.catalog-item__prices {
  display: flex;
  justify-content: center;
}

.product__price {
  font-size: 24px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  .unit {
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
}

.catalog-stock__status {
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(85, 151, 161);
  line-height: 2.143;
  text-align: center;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  margin-bottom: 5px;
}

.catalog-item__buy {
  font-size: 14px;
  font-family: "PT Sans";
  line-height: 2.143;
  text-align: center;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  display: block;
  text-align: center;
  height: 50px;
  font-weight: bold;
  background-color: #03727e;
  background-image: url(../img/cart-small-ico.svg);
  background-position: 30% center;
  background-repeat: no-repeat;
  border: none;
  line-height: 50px;
  a {
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
}
.catalog-item__buy:hover {
  background-color: #f3902d;
}
.price_old {
  font-size: 16px;
  font-family: "PT Sans";
  color: rgb(136, 136, 136);
  font-weight: bold;
  text-decoration: line-through;
  line-height: 1.875;
  text-align: center;
  -moz-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00044267374945, 0, 0, 1, 0, 0);
  .unit {
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(136, 136, 136);
    font-weight: bold;
    text-decoration: line-through;
    line-height: 1.875;
    text-align: center;
  }
}
.price_new {
  color: #ef482a;
}

// Info & News ----------------------------------------------------------

.info_news {
  display: flex;
  gap: 30px;
}

.info_block_photo {
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
}

.info_block_1 {
  .info_block_photo {
    background-image: url(../img/info/samurai.png);
  }
}
.info_block_2 {
  .info_block_photo {
    background-image: url(../img/info/nokian_hakka_black.png);
  }
}
.info_block_3 {
  .info_block_photo {
    background-image: url(../img/info/liqui_molly.png);
  }
}

.info_block_text:hover {
  color: #f3902d;
  .info_block_text_button span {
    background-color: #f3902d;
  }
  .info_block_text_button p {
    color: #f3902d;
  }
}

.info_block_text {
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  background-color: #fff;
  padding: 30px;
  h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.333;
    text-align: left;
    padding-bottom: 20px;
  }
  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.333;
    text-align: left;
    padding-bottom: 20px;
  }
  .info_block_text_button {
    text-decoration: none;
    p {
      font-size: 14px;
      font-family: "PT Sans";
      color: rgb(3, 114, 126);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.143;
      padding-top: 30px;
      padding-bottom: 0;
    }
    span {
      background-image: url(../img/arrow_right_white.png);
      background-size: cover;
      background-repeat: no-repeat;
      padding-left: 10px;
      border-radius: 25px;
      font-family: "DM Sans", sans-serif;
      font-size: 23px;
      display: inline-block;
      width: 20px;
      height: 20px;
      color: #fff;
      background-color: rgb(3, 114, 126);
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
  }
}

.info_block:hover {
  cursor: pointer;
}

// Footer -----------------------------------------------------------

footer {
  background-color: #210708;
  min-width: 100rem;
}
.site_footer {
  font-family: "PT Sans";
  margin-top: 95px;
  padding: 55px 0;
  display: flex;
  gap: 30px;
}

.site_footer_logo {
  a {
    text-decoration: none;
  }
  p {
    padding-top: 30px;
    font-size: 13px;
    font-family: "PT Sans";
    color: rgb(136, 136, 136);
    line-height: 1.2;
  }
}

.site_footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    color: #f3902d;
  }
}

.site_footer_shedule {
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(207, 207, 207);
  line-height: 1.667;
  text-align: left;
  span {
    display: inline-block;
    background: url(../img/clock_footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    padding-right: 10px;
  }
  p:nth-child(1) {
    padding-left: 0px;
  }
  p {
    padding-left: 40px;
    padding-bottom: 10px;
  }
}

.site_footer_support {
  font-size: 18px;
  font-family: "PT Sans";
  line-height: 1.667;
  text-align: left;
  color: #fff;
  span {
    background-color: #000;
    display: inline-block;
    background: url(../img/phone_footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    padding-right: 10px;
  }
  p:first-of-type {
    color: rgb(207, 207, 207);
  }
  p {
    padding-left: 40px;
    padding-bottom: 10px;
  }
}

.site_footer_social {
  padding-right: 0px;
  .footer_mail_button {
    border: 2px solid #68858f;
    a {
      display: block;
      font-size: 16px;
      font-family: "PT Sans";
      color: rgb(85, 151, 161);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.875;
      text-decoration: none;
      padding: 10px 0;
      text-align: center;
    }
    span {
      background: url(../img/footer_mail.blue.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 20px;
      height: 15px;
      display: inline-block;
      margin-right: 15px;
    }
  }
  .footer_mail_button:hover {
    border-color: #f3902d;
    a {
      color: #f3902d;
    }
    span {
      background: url(../img/footer_mail_orange.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  p {
    padding: 30px 0 20px 0;
    color: #cfcfcf;
  }
  .social_icons {
    display: flex;
    gap: 25px;
    a {
      width: 20px;
      height: 20px;
    }
  }
  .twitter_icon {
    background: url(../img/twitter_icon_white.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .facebook_icon {
    background: url(../img/facebook_icon_white.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .instagramm_icon {
    background: url(../img/instagram_icon_white.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .youtube_icon {
    background: url(../img/youtube_icon_white.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .twitter_icon:hover {
    background: url(../img/twitter_icon_orange.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .facebook_icon:hover {
    background: url(../img/facebook_icon_orange.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .instagramm_icon:hover {
    background: url(../img/instagram_icon_orange.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .youtube_icon:hover {
    background: url(../img/youtube_icon_orange.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Burger menu -----------------------------------------------

/* Гамбургер иконка */
.menu-btn {
  width: 51px;
  height: 51px;
  position: relative;
  z-index: 30;
  overflow: hidden;
  display: none;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.burger-menu {
  position: sticky;
  width: 20%;
  height: 100%;
  padding: 15px 0 15px 15px;
  background: #29727d;
  transform: translateX(-140%);
  transition: transform 0.5s;
  z-index: 25;
  text-transform: uppercase;
  margin-top: 0.8px;
}

.burger-menu.active {
  transform: translateX(0);
}

.burger-menu li {
  list-style-type: none;
  text-decoration: none;
}
.burger-menu li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.7;
  font-size: 20px;
}

.burger_menu_submenu {
  display: none;
  padding-left: 15px;
}
.burger_menu_submenu.active {
  display: block;
  overflow-y: scroll;
}
